{% extends 'aplicacion/home.html' %}


{% block contenido %}
     <h1 class=" d-flex justify-content-center"> Lista de servicios tecnicos</h1>

     <table class="table table-striped ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre del servicio</th>
                <th>precio</th>
                <th>Estado</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
    {% for s in serviciotecnico %}
            <tr>
                <td>{{ s.id }}</td>
                <td>{{ s.nombre }}</td>
                <td>{{ s.precio }}</td>
                <td>{{ s.estado }}</td>
                <td>{{ s.descripcion }}</td>
                <td>
                    <a
                      href="{% url 'serviciotecnicoActualizar' s.id %}"
                      class="btn btn-primary"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                    </a>
                    <a
                      href="{% url 'serviciotecnicoBorrar' s.id %}"
                      class="btn btn-danger"
                      style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                      ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                    </a>                
                  </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center ">
                <a class="mt-2 mb-5 btn btn-primary btn-lg " href="{% url 'serviciotecnicoForm'%}">Agregrar nuevo servicio tecnio</a>
    </div>
    
{% endblock contenido %}

