{% extends 'aplicacion/home.html' %}


{% block contenido %}
     <h1 class=" d-flex justify-content-center"> Sobre mi</h1>

     <div class="container my-5 py-4 text-center">
        <div class="card-body">
        <p class="card-text">Soy un estudiante de Ingeniería Informática apasionado por el desarrollo de software y la seguridad informática. Mi entusiasmo por la tecnología y mi deseo de aprender y crecer en estos campos me impulsan constantemente a buscar nuevos desafíos y oportunidades para expandir mis conocimientos.</p>
      </div>
    </div>
   
    <div class="container my-5 py-4 text-center">
    <div class="card-body">
      <p class="card-text">Busco continuar mi crecimiento personal mediante el aprendizaje constante y la exploración de nuevas áreas de conocimiento, alcanzar nuevas metas en mi carrera profesional, adquiriendo experiencia y creciendo en responsabilidades.</p>
    </div>
  </div>

{% endblock contenido %}

